<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".FanutApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_medical_cross"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@drawable/ic_medical_cross"
        android:supportsRtl="true"
        android:theme="@style/Theme.FanutSystem">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ChildModuleActivity" />
        <activity android:name=".GrowthMonitoringActivity" />
        <activity android:name=".ChildRegistrationActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".ChildDetailsActivity" />
        <activity android:name=".IMCIActivity" />
        <activity android:name=".AdultActivity" />
        <activity android:name=".MuacActivity"/>
        <activity android:name=".VaccinationActivity"/>
        <activity android:name=".CommunityActivity"/>
        <activity android:name=".EmergencyActivity"/>

    </application>

</manifest>
